/* iOS Style */

.ios_style.dropdown_container_full {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    bottom: 0px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
}

.ios_style .dropdown_container {
    background: #d1d5da;
}

.ios_style .selected_item_border {
    position: absolute;
    height: 40px;
    width: 100%;
    top: calc(100% - 105px);
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

.ios_style .dropdown {
    width: 100%;
    background: transparent;
    height: 170px;
    padding: 10px;
    overflow: scroll;
    z-index: 1;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

 ::-webkit-scrollbar {
    display: none;
}

.ios_style .droption {
    height: 50px;
    width: 100%;
    text-align: center;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ios_style .seted {
    font-weight: 500;
    color: #000;
}

.ios_style .step_more {
    transform: rotate3d(1, 0, 0, 40deg);
    color: #8c8e90;
}

.ios_style .step_minus {
    transform: rotate3d(1, 0, 0, -40deg);
    color: #8c8e90;
}

.ios_style .btns {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: #efefef;
}

.ios_style .btns button {
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    background: #efefef;
    color: #307bf6;
}

.ios_style #btn_dropdown_cancel {
    font-weight: normal;
}


/* Android Style */

.android_style.dropdown_container_full {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    top: 0px;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
    background: rgba(0, 0, 0, .3);
}

.android_style .dropdown_container {
    background: #eeeeee;
    display: flex;
    flex-flow: column-reverse;
}

.android_style .selected_item_border {
    position: absolute;
    height: 40px;
    width: 100%;
    top: calc(100% - 155px);
    border-top: 1.3px solid #419488;
    border-bottom: 1.3px solid #419488;
}

.android_style .dropdown {
    width: 100%;
    background: transparent;
    height: 170px;
    padding: 10px;
    overflow: scroll;
    z-index: 1;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none
}

 ::-webkit-scrollbar {
    display: none;
}

.android_style .droption {
    height: 50px;
    width: 100%;
    text-align: center;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5b5b5b;
}

.android_style .seted {
    color: #000;
}

.android_style .btns {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background: #eeeeee;
}

.android_style .btns button {
    font-weight: 600;
    padding: 10px 10px;
    border: none;
    background: #efefef;
    color: #419488;
}


/* General style */

select {
    width: 100%;
    border: 1px solid darkturquoise;
    padding: 2px;
}

.dropdown_hide {
    display: none !important;
}